* {
  font-family: "JetbrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
}

window#waybar {
  background-color: #191724;
}

button:hover {
	box-shadow: none;
	text-shadow: none;
	background: none;
	transition: none;
	border-color: transparent;
	color: #191724;
	font-weight: bold;
}

#clock, #tray, #cpu, #memory, #battery, #pulseaudio, #backlight, #custom-logout, #network, #custom-icon {
  color: #e0def4;
  margin-top: 7px;
  margin-bottom: 7px;
}

#custom-icon {
  margin-left: 25px;
  padding-right: 5px;
}

#tray {
  margin-right: 25px;
}
