* {
  font-family: "DepartureMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background-color: #191724;
}

#workspaces {
  color: #e0def4;
  padding-left: 1em;
}

#workspaces button {
  color: #e0def4;
  padding-left: 0px;
  padding-right: 5px;
}

button:hover {
	box-shadow: none;
	text-shadow: none;
	background: none;
	transition: none;
	border-color: transparent;
	color: #eb6f92;
	font-weight: bold;
}

#workspaces button.focused {
  color: #c4a7e7;
  font-weight: bold;
}

button:hover {
	box-shadow: none;
	text-shadow: none;
	background: none;
	transition: none;
	border-color: transparent;
	color: #191724;
	font-weight: bold;
}

#clock, #tray, #cpu, #memory, #battery, #pulseaudio, #backlight, #custom-logout, #network, #custom-icon, #custom-swaync, #bluetooth, #custom-seperator1, #custom-seperator2 {
  color: #e0def4;
}

#tray {
  padding-right: 1em;
}
