* {
  font-family: "Lilex Nerd Font Mono";
  /* font-weight: bold; */
  font-size: 16.5px;
}

window#waybar {
  background-color: #191724;
}

#workspaces {
  color: #e0def4;
  padding-left: 0em;
  margin-top: 0.3em;
  /* box-shadow: none; */
  /* text-shadow: none; */
  /* background: none; */
  /* transition: none; */
  /* border-color: transparent; */
}

#workspaces button {
  color: #e0def4;
  margin-left: 0px;
}

#clock,
#tray,
#memory,
#battery,
#pulseaudio,
#backlight,
#network,
#bluetooth,
#taskbar,
#custom-icon,
#custom-swaync,
#custom-tray-icon,
#custom-separator1,
#custom-separator2 {
  color: #e0def4;
  margin-top: 0.3em;
}

#tray {
  padding-right: 0.9em;
}

#custom-tray-icon {
  padding-right: 1.1em;
}

#taskbar button {
  margin-left: 5px;
}
