* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
}

window#waybar {
    background-color: transparent;
}

button:hover {
	box-shadow: none;
	text-shadow: none;
	background: none;
	transition: none;
	border-color: transparent;
	color: #191724;
	font-weight: bold;
}

#workspaces button {
    padding: 0 7px;
    background-color: transparent;
    color: #e2d5d7;
}

#workspaces button.focused {
	color: #e2d5d7;
	font-weight: bold;
}

#clock, #tray, #cpu, #memory, #battery, #pulseaudio, #backlight, #custom-logout, #network {
	color: #e2d5d7;
}
