* {
  font-family: "JetbrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
}

window#waybar {
  background-color: transparent;
}

button:hover {
	box-shadow: none;
	text-shadow: none;
	background: none;
	transition: none;
	border-color: transparent;
	color: #191724;
	font-weight: bold;
}

#workspaces button {
  padding: 0 7px;
  background-color: transparent;
  color: #e0def4;
}

#workspaces button.focused {
  color: #e0def4;
  font-weight: bold;
}

#clock, #tray, #cpu, #memory, #battery, #pulseaudio, #backlight, #custom-logout, #network, #custom-icon {
  color: #e0def4;
}

#custom-icon {
  padding-right: 7px;
}

/* #clock { */
/*   padding-right: 7px; */
/* } */
