* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
	padding-left: 0px;
	padding-right: 2em;
	padding-top: 0px;
}

button:hover {
	box-shadow: none;
	text-shadow: none;
	background: none;
	transition: none;
	border-color: transparent;
	color: #526E5D;
	font-weight: bold;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #c4cbc1;
}

#workspaces button.focused {
	color: #6F9D88;
	font-weight: bold;
}

#clock {
	color: #c4cbc1;
	padding-right: 3;
}

#tray {
	color: #c4cbc1;
	margin-left: 7px;
}

#cpu {
    color: #c4cbc1;
}

#memory {
    color: #c4cbc1;
}

#battery {
	color: #c4cbc1;
}

#pulseaudio {
	color: #c4cbc1;
	padding-right: 9;
}

#backlight {
	color: #c4cbc1;
	padding-right: 2;
}
